<!DOCTYPE html>

{% load staticfiles %}

<html lang="ko">

<head>
    <title>{% block page_title %}Pystagram{% endblock %}</title>
    <meta charset="utf-8">
    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
</head>

<body>
    <style>
        body {background-image: url("https://cdn.namuwikiusercontent.com/s/5b801ae9b6fe4bca8b7185d48770a88d7a0474bc841f96958e2139b29b53fde3138b25b19e9ab3501b0ea858f0df44d5786329946ef88d577150014cc973022903e0ef3834853d4316b1837de9acadea?e=1532118552&k=jhlNffdwZY4VK15UgtGFnA");background-size:100%;/}
    </style>
{% block content %}

{% endblock %}
</body>

</html>